<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nohi.boot.kqjs.mapper.QuarterJsMapper">

  <resultMap id="BaseResultMap" type="nohi.boot.kqjs.entity.QuarterJs">
    <result column="CREATED_TS" jdbcType="TIMESTAMP" property="createdTs" />    <!-- 记录创建时间 -->
    <result column="PROJECT" jdbcType="VARCHAR" property="project" />    <!-- 项目 -->
    <result column="WORK_DATE" jdbcType="DATE" property="workDate" />    <!-- 工作日 -->
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />    <!-- 姓名 -->
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />    <!-- 开始时间 -->
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />    <!-- 结束时间 -->
    <result column="HOURS" jdbcType="DECIMAL" property="hours" />    <!-- 打卡小时数 -->
    <result column="MINS" jdbcType="DECIMAL" property="mins" />    <!-- 打卡分钟数 -->
    <result column="DEDUCTION" jdbcType="DECIMAL" property="deduction" />    <!-- 扣减分钟数 -->
    <result column="HOURS_JS" jdbcType="DECIMAL" property="hoursJs" />    <!-- 结算小时数 -->
    <result column="MINS_JS" jdbcType="DECIMAL" property="minsJs" />    <!-- 结算分钟数 -->
    <result column="DAYS_JS" jdbcType="DECIMAL" property="daysJs" />    <!-- 结算人天 -->
    <result column="KQ_STATUS" jdbcType="VARCHAR" property="kqStatus" />    <!-- 考勤状态: N-不算 -->
    <result column="KQ_MSG" jdbcType="VARCHAR" property="kqMsg" />    <!-- 考勤备注 -->
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />    <!-- 备用字段 -->
    <result column="REMARK1" jdbcType="VARCHAR" property="remark1" />    <!-- 备用字段1 -->
    <result column="REMARK2" jdbcType="VARCHAR" property="remark2" />    <!-- 备用字段2 -->
  </resultMap>

  <select id="selectByExample" parameterType="nohi.boot.kqjs.entity.QuarterJs" resultMap="BaseResultMap">
    select
        *
    from CCB_QUARTER_JS
    <where>
      <if test="createdTs != null">
        AND CREATED_TS = #{createdTs,jdbcType=TIMESTAMP}
      </if>
      <if test="project != null and project != '' ">
        AND PROJECT = #{project,jdbcType=VARCHAR}
      </if>
      <if test="workDate != null">
        AND WORK_DATE = #{workDate,jdbcType=DATE}
      </if>
      <if test="workDayStart != null">
        <![CDATA[
          AND WORK_DATE >= #{workDayStart}
        ]]>
      </if>
      <if test="workDayEnd != null">
        <![CDATA[
          AND WORK_DATE <= #{workDayEnd}
        ]]>
      </if>
      <if test="username != null and username != '' ">
        AND USERNAME = #{username,jdbcType=VARCHAR}
      </if>
      <if test="startTime != null">
        AND START_TIME = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        AND END_TIME = #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="hours != null">
        AND HOURS = #{hours,jdbcType=DECIMAL}
      </if>
      <if test="mins != null">
        AND MINS = #{mins,jdbcType=DECIMAL}
      </if>
      <if test="deduction != null">
        AND DEDUCTION = #{deduction,jdbcType=DECIMAL}
      </if>
      <if test="hoursJs != null">
        AND HOURS_JS = #{hoursJs,jdbcType=DECIMAL}
      </if>
      <if test="minsJs != null">
        AND MINS_JS = #{minsJs,jdbcType=DECIMAL}
      </if>
      <if test="daysJs != null">
        AND DAYS_JS = #{daysJs,jdbcType=DECIMAL}
      </if>
      <if test="kqStatus != null and kqStatus != '' ">
        AND KQ_STATUS = #{kqStatus,jdbcType=VARCHAR}
      </if>
      <if test="kqMsg != null and kqMsg != '' ">
        AND KQ_MSG = #{kqMsg,jdbcType=VARCHAR}
      </if>
      <if test="remark != null and remark != '' ">
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="remark1 != null and remark1 != '' ">
        AND REMARK1 = #{remark1,jdbcType=VARCHAR}
      </if>
      <if test="remark2 != null and remark2 != '' ">
        AND REMARK2 = #{remark2,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <select id="monthData" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select t.USERNAME
           ${rsColsSql}
    from (
        select USERNAME, DATE_FORMAT(WORK_DATE,"%c") M
        , SUM(case when DAYS_JS>0  then 1  else 0 end)  出勤天数
        , sum(DAYS_JS)  人天
        from CCB_QUARTER_JS
        <where>
          <if test="username!=null and username!=''">
            AND username in (${username})
          </if>
          <if test="startDate!=null and startDate!=''">
            and work_date <![CDATA[ >=  ]]>  #{startDate}
          </if>
          <if test="endDate!=null and endDate!=''">
            and work_date <![CDATA[ <=  ]]> #{endDate}
          </if>
        </where>
        group by USERNAME, DATE_FORMAT(WORK_DATE,"%c")
    ) T
    group by t.USERNAME
    order by USERNAME
  </select>

  <!-- 考勤明细 -->
  <select id="monthDataDetail" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select APP.*
      from CCB_QUARTER_JS APP
    where DAYS_JS > 0
      <if test="username!=null and username!=''">
        AND username in (${username})
      </if>
      <if test="project!=null and project!=''">
        AND project in (${project})
      </if>
      <if test="startDate!=null and startDate!=''">
        and work_date <![CDATA[ >=  ]]>  #{startDate}
      </if>
      <if test="endDate!=null and endDate!=''">
        and work_date <![CDATA[ <=  ]]> #{endDate}
      </if>
  </select>

  <!-- 核对考勤明细 -->
  <select id="checkMonthDataDetail" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select APP.*
    from CCB_QUARTER_JS_CHECK APP
    where DAYS_JS > 0
    <if test="username!=null and username!=''">
      AND username in (${username})
    </if>
    <if test="project!=null and project!=''">
      AND project in (${project})
    </if>
    <if test="startDate!=null and startDate!=''">
      and work_date <![CDATA[ >=  ]]>  #{startDate}
    </if>
    <if test="endDate!=null and endDate!=''">
      and work_date <![CDATA[ <=  ]]> #{endDate}
    </if>
  </select>

  <!-- 判断人、工作日是否重复 -->
  <select id="userWorkRepeat" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select USERNAME, WORK_DATE , count(1) COUNT, sum(DAYS_JS) SUM
                   , group_concat(PROJECT) PROJECT
    from CCB_QUARTER_JS
    where DAYS_JS > 0
    group by USERNAME, WORK_DATE having count(1) > 1
  </select>

  <!-- 结算考勤有，月份考勤无 -->
  <select id="jsWithOutApp" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select USERNAME,WORK_DATE, DAYS_JS from CCB_QUARTER_JS
    where DAYS_JS > 0
      and (USERNAME,WORK_DATE) not in (
      select USERNAME,WORK_DATE from CCB_APP_KQ
       where KQ_STATUS = 'Y' and DAYS_JS > 0
        <if test="startDate!=null and startDate!=''">
          and work_date <![CDATA[ >=  ]]>  #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          and work_date <![CDATA[ <=  ]]> #{endDate}
        </if>
    )
    <if test="startDate!=null and startDate!=''">
      and work_date <![CDATA[ >=  ]]>  #{startDate}
    </if>
    <if test="endDate!=null and endDate!=''">
      and work_date <![CDATA[ <=  ]]> #{endDate}
    </if>
    order by USERNAME, WORK_DATE
  </select>

  <!-- 月份考勤有，结算考勤无 -->
  <select id="appWithOutJs" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select USERNAME,WORK_DATE, DAYS_JS
    from CCB_APP_KQ
    where KQ_STATUS = 'Y' and DAYS_JS > 0
    <if test="startDate!=null and startDate!=''">
      and work_date <![CDATA[ >=  ]]>  #{startDate}
    </if>
    <if test="endDate!=null and endDate!=''">
      and work_date <![CDATA[ <=  ]]> #{endDate}
    </if>
     and (USERNAME,WORK_DATE) not in (
        select USERNAME,WORK_DATE from CCB_QUARTER_JS
         where  DAYS_JS > 0
        <if test="startDate!=null and startDate!=''">
          and work_date <![CDATA[ >=  ]]>  #{startDate}
        </if>
        <if test="endDate!=null and endDate!=''">
          and work_date <![CDATA[ <=  ]]> #{endDate}
        </if>
      )

    order by USERNAME, WORK_DATE
  </select>

  <!-- 考勤不一致 -->
  <select id="daysDiff" parameterType="nohi.boot.kqjs.dto.kq.KqQueryDto" resultType="java.util.Map">
    select js.USERNAME, js.WORK_DATE, js.DAYS_JS , kq.DAYS_JS DAYS_KQ, Kq.START_TIME,kq.END_TIME,kq.MINS, kq.DEDUCTION,kq.MINS_JS
    from CCB_QUARTER_JS JS
        LEFT JOIN CCB_QUARTER_KQ KQ
        on js.USERNAME = kq.USERNAME and js.WORK_DATE = kq.WORK_DATE
    where js.DAYS_JS > 0 and kq.KQ_STATUS = 'Y' and kq.DAYS_JS > 0
      and js.DAYS_JS != kq.DAYS_JS
      <if test="startDate!=null and startDate!=''">
        and JS.work_date <![CDATA[ >=  ]]>  #{startDate}
      </if>
      <if test="endDate!=null and endDate!=''">
        and JS.work_date <![CDATA[ <=  ]]> #{endDate}
      </if>
    order by js.USERNAME, js.WORK_DATE
  </select>
</mapper>
